html {
  line-height: 1.5;
  font-family: Sans-serif;
  font-size: 1.5em;
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}
ul {
  list-style: none;
  margin: 4%;
  padding: 0;
}
@media (max-width: 400px) {
  ul {
    margin: 0;
  }
}
h1 {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(90px, auto);
  gap: 10px;
}
.item {
  box-shadow: 0px 0px 2px #AAA;
  border-radius: 5px;
  text-align: center;
}
.item:hover {
  background-color: #EFEFFF;
}
.item a {
  text-decoration: none;
  color: blue;
  background-color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}
.item a:hover {
  text-decoration: underline;
}
.item.art a {
  font-size: 1.5em;
  position: relative;
  top: 0.5em;
}
.art-4two img {
  width: 260px;
}
.art-20nov2019 {
  background-image: url('https://20nov2019.4two.art/marielle.png');
  background-size: 140px;
}
.art-20nov2019:hover {
  background-size: 145px;
  background-position: -20px;
}
.art-atari2600 {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a2/Atari2600logo.svg');
  background-size: 200px;
  background-color: blue;
}
.art-atari2600:hover {
  background-size: 202px;
  background-color: BlueViolet;
}
.art-resistanceisfutile {
  background-image: url('https://joenio.4two.art/resistanceisfutile.svg');
  background-size: 120px;
  background-color: red;
}
.art-resistanceisfutile:hover {
  background-color: #AAA;
  background-size: 150px;
}
.art-whipala {
  background-image: url('https://whipala.4two.art/whipala.png');
  background-position: -50px -20px;
}
.art-whipala:hover {
  background-position: -10px -50px;
}
.art-musicwhiletrue {
  background: url('https://musicwhiletrue.4two.art/sangria-01-grande-acordo.gif');
  background-size: 20%;
}
.art-musicwhiletrue:hover {
  background: #327;
}
.art-webbrowser {
  background-image: url('https://www.w3.org/MarkUp/tims_editor');
  background-size: 800px;
}
.art-webbrowser:hover {
  background-size: 200px;
}
.art-asymmetry {
  background-image: url('https://asymmetry.4two.art/joenio-costa/png/tattoo-ideia-1-devpost.png');
  background-size: 100%;
  background-position: 0 -5px;
}
.art-asymmetry:hover {
  background-image: url('https://asymmetry.4two.art/joenio-costa/png/tattoo-ideia-1-h.png');
  background-position: 0 -15px;
}
.art-afalflsong {
  background-image: url('https://afalflsong.4two.art/images/IMG-20221207-WA0016.jpg');
  background-size: 25%;
  background-position: 0 center;
}
.art-afalflsong:hover {
  background-position: 0 40%;
}
.art-dune {
  background-image: url('https://joenio.me/files/du-vent-et-du-sable-post-instagram.png');
}
.art-dune:hover {
  background-position: -10% 5%;
}
.art-blu {
  background-image: url('https://blu.4two.art/IMG_20230226_184011.jpg');
  background-size: 200%;
  background-position: 30% 20%;
}
.art-blu:hover {
  background-image: url('https://blu.4two.art/IMG_20230226_184011.jpg');
  background-size: 100%;
  background-position: 50% 20%;
}
.art-marimoura {
  background-image: url('https://marimoura.4two.art/tumblr_6b60b7f6f7959b103f2ebc0ac3f374b2_5e5b318d_500.gif');
}
.art-tour23 {
  background-image: url('https://tour23.4two.art/tour23-card0.jpg');
  background-position: -25px -50px;
}
.art-tour23:hover {
  background-size: 2em;
}
.sobre {
  background-color: blue;
}
.sobre:hover {
  background-color: yellow;
}
.art-poetryattack {
  background-image: url('https://poetryattack.4two.art/thumbnails/52861659959_0aac62ec53_k.jpg');
  background-size: 10%;
  background-position: 0 -5px;
}
.art-poetryattack:hover {
  background-size: 20%;
  background-position: 0 -50px;
}
.art-rimassimples {
  background-image: url('https://rimassimples.4two.art/images/medo-e-delicia-whatsapp.jpeg');
  background-size: 140px;
}
.art-rimassimples:hover {
  background-size: 50px;
  background-position: -10px;
}
.img-drawing {
  width: 20vh;
  vertical-align: text-top;
}
.art-zomte {
  background-image: url('https://zomte.4two.art/artwork/zomte-lp-cover.png');
  background-size: 5%;
  background-position: -10px -150px;
}
.art-zomte:hover {
  background-size: 20%;
  background-position: 0 -40px;
}

html {
  line-height: 1.5;
  font-family: Sans-serif;
  font-size: 1.5em;
  color: #1a1a1a;
  background-color: #fdfdfd;
}
body {
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}
ul {
  list-style: none;
  margin: 4%;
  padding: 0;
}
@media (max-width: 400px) {
  ul {
    margin: 0;
  }
}
h1 {
  margin: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(90px, auto);
  gap: 10px;
}
.item {
  box-shadow: 0px 0px 2px #AAA;
  border-radius: 5px;
  text-align: center;
}
.item:hover {
  background-color: #EFEFFF;
}
.item a {
  text-decoration: none;
  color: blue;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}
.item a:hover {
  text-decoration: underline;
}
.art-4two img {
  width: 260px;
}
.item.art a {
  background-color: white;
}
h1 a {
  color: blue;
  text-decoration: none;
}
.intencoes {
  background-color: blue;
}
.intencoes:hover {
  background-color: yellow;
}

.projeto-imac-e4 {
  background-color: yellow;
}

.event-past {
  text-decoration: line-through;
  color: gray;
}
