<!DOCTYPE html>
<html lang="<%= 'en' %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>The Noosfero directory</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>

    <!-- local stylesheet -->
    <link href="/stylesheet.css?t=<%= @items['/stylesheet/'].checksum %>" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%# FIXME re-enable if there are any items in the top navbar
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          %>
          <a class="navbar-brand" href="/">The Noosfero directory</a>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row'>
        <div id='menu' class='col-md-3'>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Directory</h3>
            </div>
            <ul class='list-group'>
              <li class='list-group-item'><a href="/about/">About</a></li>
              <li class='list-group-item'><a href="/about/#new-entry">Add a new site</a></li>
              <li class='list-group-item'><a href="/all.json">JSON data file</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Noosfero</h3>
            </div>
            <ul class='list-group'>
              <li class='list-group-item'><a href="http://noosfero.org/">Home page</a></li>
              <li class='list-group-item'><a href="https://gitlab.com/noosfero/noosfero">Development</a></li>
            </ul>
          </div>
        </div>
        <div id="main" class='col-md-9'>

          <%= yield %>

          <%# site page %>
          <% if @item.identifier =~ %r{/sites/.*/data/} %>
            <div class='site'>
              <h1><%= item[:name] %></h1>
              <a href="<%= item[:url] %>"><img src="screenshot.png"/></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <footer class='footer'>
      Copyright © <%= [2015, Date.today.year].uniq.join(' — ') %> The Noosfero
      directory contributors. Consider the data on this site to be public
      domain.  <a href="https://gitlab.com/noosfero/directory">Source code</a>
      is available.
    </footer>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src='/application.js'></script>

  </body>
</html>
<%# vim: ft=eruby -%>
